/* Contact */ 
.contact {
    padding: 70px 0 50px;
}
.contact-item {
    width: 30%;
    float: left;
    text-align: center;
    padding: 0 10px 40px;
}
.contact-item.mg {
    margin: 0 5%;
}
.contact-item i {
    color: var(--maincolor);
    margin-bottom: 10px;
}
.contact-title {
    text-transform: capitalize;
    color: #444;
    font-size: 24px;
    margin-bottom: 5px;
}
.contact-desc {
    color: #777;
    text-transform: capitalize;
}
.contact-info {
    margin-top: 35px;
}
.contact-info form {
    width: 60%;
    margin: auto;
}
.contact-info form input {
    display: block;
    margin-bottom: 20px;
}
.contact-info form input.text.mg {
    margin: 0 2% 0 0;
}
.contact-info form input.text {
    float: left;
    width: 49%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    outline: 0;
    border: 0;
}
.contact-info form .block {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    outline: 0;
    border: 0;
}
.contact-info form .block.h {
    height: 60px;
    margin-bottom: 25px;
}
.button {
    margin: auto;
    padding: 13px;
    border-radius: 5px;
    color: #f9f9f9;
    background-color: var(--maincolor);
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.5s, background-color 0.5s, color 0.5s;
}
.button:hover {
    opacity: 0.9;
    color: var(--maincolor);
    background-color: #1c1d21;
}
.contact-info form input::placeholder,
.contact-info form textarea::placeholder {
    color: var(--maincolor);
    text-align: center;
    font-size: 18px;
    font-style: italic;
}
.contact-info form textarea::placeholder {
    font-size: 20px;
}
.contact-info form input:focus,
.contact-info form textarea:focus {
    box-shadow: 0px 0px 7px var(--maincolor);
    color: #444;
}





















